@model AzureVideoLibraryPrototype.Models.VideoLibraryModel
<link rel="stylesheet" href="@Url.Content("~/library/css/jquery.fancybox.css")"/>
<link rel="stylesheet" href="@Url.Content("~/library/css/mediaelementplayer.min.css")"/>
<script src="@Url.Content("~/library/js/jquery.fancybox.pack.js")" type="text/javascript"></script>
<script src="@Url.Content("~/library/js/mediaelement-and-player.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".search-result a").fancybox();
        $(".search-result video").mediaelementplayer();
    });
</script>

<div class="wrapper">
    <div class="video-wall-page" id="main-content">
        <div class="video-wall">
            <ul>
                @for (var i = 0; i < Model.Videos.Count; i++ )
                {
                    <li class="search-result">
                        <a href="#video_@i" title="@Model.Videos[i].Title">                            
                            <img src="@Model.Videos[i].ThumbnailUrl" alt="@Model.Videos[i].Title"/>
                            <div id="video_@i" style="display:none; overflow: hidden;">
                                <video type="video/mp4" controls="controls" preload="none" src="@Model.Videos[i].VideoUrl"></video>
                            </div>
                            <div class="single-video-play-button">play</div>
                        </a>
                        <h3>@Model.Videos[i].Title</h3>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<a href="@Url.Action("Index")" style="display:block; clear:both;">Back to Upload</a>